html {
    box-sizing: border-box;
    --QCpurple: #800080;
    --QCgreen: #008000;
    --QCgreenSecondary: #408000;
    --QCblue: #000080;
    --QCred: #800040;
    --QCredSecondary: #9a004d;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

@media screen and (orientation: portrait) {
    .videoWindow .myWindow {
        position: absolute;
        height: 100vh !important;
        width: 100vh !important;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
}