* {
	box-sizing: border-box;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #282c34;
	color: white;
	font-size: calc(10px + 2vmin);
	text-align: center;
	width: 100vw;
	overflow: hidden;
}

.myStream {
	margin: 10px 50px;
	border-radius: 50%;
	border: 3px solid white;
}

.myStream video {
	z-index: 1;
	position: fixed;
	left: 20%;
	bottom: 20%;
	min-width: 100vw;
	min-height: 100vh;
	max-width: 90vw;
	max-height: 90vh;
	margin: auto;
	border-radius: 50%;
}
