* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* .container {
  display: flex;
  flex-direction: reverse;
} */

/* .myId {
  /* margin-right: 5rem; 
  border-radius: 5px;
  background: #c9d6ff;
  /* fallback for old browsers 
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right,
      #e2e2e2,
      #c9d6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
  padding: 2rem; */

/* }

.call-button {
  text-align: center;
  margin-top: 2rem;
  border: 2px solid #fff;
  border-radius: 999px;
  margin: 2rem 8rem;
}

.call-button:hover {
  background: #fff;
  color: #000;
} */

/* .video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-top: 10rem;
  margin-left: 10rem;
} */

/* .caller {
  text-align: center;
  color: #fff; 
} */

/* body {
  background: #4776e6;
  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); */
/* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right,
      #8e54e9,
      #4776e6); */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
} */

/* begin stream window css */

/* .myWindow {
  display: grid;
  grid-template-columns: 4fr 2fr;
  width: 800px;
  height: auto;
  border-radius: 7px;

}

.myNameTextField {
  margin-bottom: 0.6rem !important;
} */

.container {
  display: flex;
  flex-direction: column;
}

video {
  display: flex;
  margin: 1rem auto;
  border-radius: 7px;
}

.titleHeader {
  text-align: center;
  color: #3866b0;
  font-family: sacramento, cursive, sans-serif, monospace;
  font-size: 4rem;
  margin: 1rem auto 0 auto;
}

.myId {
  margin: auto;
  height: auto;
}

.call-button {
  text-align: center;
  margin-top: 2rem;
  border: 2px solid #fff;
  border-radius: 999px;
  margin: 2rem 8rem;
}

.copyButton {
  margin: 0.5rem !important;
}

.video-container {
  display: flex;
  justify-content: center;
}

.myWindow {
  position: relative;
}

.videoWindow {
  position: absolute;
  width: 100%;
}

.myWindow {
  width: 20%;
}