html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    box-sizing: border-box;
    --QCpurple: #800080;
    --QCgreen: #008000;
    --QCgreenSecondary: #408000;
    --QCblue: #000080;
    --QCred: #800040;
    --QCredSecondary: #9a004d;
    width: 100% !important;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {

    width: 100% !important;
}

.titleHeader {
    text-align: center;
    font-size: 4rem;
    margin: 1rem auto 4rem auto;
    font-family: Sacramento, cursive, sans-serif, monospace;
    font-weight: 900;
    color: #000000;
    white-space: nowrap;
}

.container {
    display: flex;
    flex-direction: column;
}

.video-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 2rem;

}


.myWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 20%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    max-height: 400px;
}

/* .call-button {
    text-align: center;
    margin: 2rem 10rem 0.8rem 10rem;
    background: var(--QCgreen);
    border-radius: 999px;
} */

.myId {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.myIdText {
    margin-bottom: 0.5rem;
}

.callField {
    min-width: 5rem;
    max-width: 14rem;
    white-space: nowrap;
    margin: 0.5rem auto !important;
}

.copyButton {
    min-width: 3rem;
    max-width: 7rem;
    white-space: nowrap;
    margin: 0.5rem auto !important;
}

.call-Button {
    margin: auto;
    min-width: auto;
    max-width: auto;
    margin: 0.5rem auto !important;
}