*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    /* border: 2px dotted red; */
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: subpixel-antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root {
    height: 100%;
    width: 100%;
}

#root>div {
    height: 100%;
    width: 100%;
}

#root>body {
    height: 100%;
    width: 100%;
}



.headerDiv {
    display: flex;
    justify-content: center;
}

.titleHeader {
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
    margin: 0 auto 8rem auto;
    font-family: Sacramento, cursive, sans-serif, monospace;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
    margin: 0;
}

.login_textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.login_btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
}

.login_google {
    background-color: #4285f4;
}